.env
.venv/
venv/
__pycache__/
*.pyc
node_modules/
.next/
dist/
build/
eduforge_checkpoints/
*.log
.ipynb_checkpoints/
src/environment/training_samples.json
src/environment/training_sqample.jsnol
models/
*.pt
*.pkl
*.png
